[project]
	description = Some variations from the jscoderetreat
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jean-Francois Landreau (jeffeland)
[access "refs/for/refs/*"]
	read = group user/Jean-Francois Landreau (jeffeland)
	push = group user/Jean-Francois Landreau (jeffeland)
	label-Code-Review = -2..+2 group user/Jean-Francois Landreau (jeffeland)
	label-Verified = -1..+1 group user/Jean-Francois Landreau (jeffeland)
	rebase = group user/Jean-Francois Landreau (jeffeland)
	removeReviewer = group user/Jean-Francois Landreau (jeffeland)
	submit = group user/Jean-Francois Landreau (jeffeland)
[access "refs/heads/*"]
	read = group user/Jean-Francois Landreau (jeffeland)
	create = group user/Jean-Francois Landreau (jeffeland)
	push = +force group user/Jean-Francois Landreau (jeffeland)
	pushMerge = group user/Jean-Francois Landreau (jeffeland)
[access "refs/tags/*"]
	push = +force group user/Jean-Francois Landreau (jeffeland)
	pushTag = group user/Jean-Francois Landreau (jeffeland)
	pushSignedTag = group user/Jean-Francois Landreau (jeffeland)
